<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>

    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                 <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="inputText" value=""  placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div>
                        Search Tense: <span id="tense"></span>
                    </div>
                    <div>
                        Model : <span id="model"></span>
                    </div>
                    <div>
                        Confidence: <span id="confidence"></span>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
